.form {
    margin: 100px auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px 10px 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    column-gap: 10px;
}
.inputs {
    justify-content: space-around;
    margin: 10px;
}
.content {
    justify-content: space-around;
}
table {
    border: 1px solid;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
}
.display-table {
    width: 500px;
    margin: auto;
}
.update {
    color: darkgreen;
}
.delete {
    color: red;
}